* {
    border: 2px solid black;
    padding: 0px;
    margin: 25px;
    max-width: 800px;
}

body {
    height: 0px auto;
}

.mytitle {
    color: red;
    position: center;
    text-align: center;
}

h3 {
    font-family: "Times New Roman", sans-serif;
    font-size: 22px;
    color: blue;

}

div {
    color: white;
    background-color: darkorange;
    padding: 10px;
    margin: 16px auto;
    width: 666px;
}

.top-header {
    width: auto;
    height: 150px;
    background-color: gray;
}

.header {

}

.list {
    font-family: "Times New Roman", sans-serif;
    font-size: 22px;
    color: blue;
}

p {
    font-family: "Times New Roman", sans-serif;
    color: black;
    font-size: 16px;
    text-align: centre;
}

img {
    width: 50%;
    height: auto;
    margin-right: 200px;
    margin-left: 150px;
}